name: Run PostgreSQL Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.X'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Wait for PostgreSQL
      run: |
        sleep 10

    - name: O1 Create tables
      run: |
        PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f 01_create_tables.sql

    - name: Insert data
      run: |
        PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f 02_insert_data.sql     

    - name: Calcular descuento
      run: |
         PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f 03_calcular_descuento.sql 

    - name: Validar correo
      run: |
         PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f 04_validar_correo.sql

    - name: Devolver stock
      run: |
         PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f 05_devolver_stock.sql 
         
    - name: Devolver dia
      run: |
         PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f 06_dia_de_semana.sql
         
    - name: Contar empleados
      run: |
         PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f 07_contar_empleados.sql    
